<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header');%>
<body>
    <div class="container">
        <%- include('./partials/nav',{activeNav:"home"});%>
        <%- include('./partials/banner');%>
        <div class="main-content">

        </div>
        <%- include('./partials/footer');%>
    </div>
    <%- include('./partials/scripts');%>
</body>
</html>