<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header');%>
<body>
    <div class="container">
        <%- include('./partials/nav',{activeNav:"home"});%>
        <%- include('./partials/banner');%>
        <div class="main-content">
            <div class="steps-holder">
                <div class="steps-heading-holder">
                    <div class="heading">
                        In 3 Easy Steps
                    </div>
                    <div class="lead">
                        make your parcel reach your Loved ones ❤ in no time
                    </div>
                </div>
                <div class="card-holder">
                    <div class="card">
                        <div class="icon"><i class="fa fa-user"></i></div>
                        <div class="card-head">Register</div>
                        <div class="card-text">Create an account with us by providing just a few deltails</div>
                    </div>
                    <div class="card">
                        <div class="icon"><i class="fa fa-archive"></i></div>
                        <div class="card-head">Place An Order</div>
                        <div class="card-text">
                            Place an order in few clicks and wait for our delivery partner to pick up your parcel
                        </div>
                    </div>
                    <div class="card">
                        <div class="icon"><i class="fa fa-location-arrow"></i></div>
                        <div class="card-head">Track</div>
                        <div class="card-text">Now sit back and relax,and track your order until it gets delivered</div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer');%>
    </div>
    <%- include('./partials/scripts');%>
</body>
</html>