<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header');%>
<body>
    <div class="container">
        <%- include('../partials/nav',{activeNav:"admin"});%>
        <div class="main-content-admin">
            <%- include('../partials/side-bar.ejs',{
                activeTab:locals.activeTab?locals.activeTab:"database",
                user:locals.user?locals.user:null,
                menuTabs:[
                    {
                        icon:"fa fa-user",
                        value:"Users",
                        key:"users",
                        url:"/admin/users",
                    },
                    {
                        icon:"fa fa-archive",
                        value:"Couriers",
                        key:"couriers",
                        url:"/admin/couriers",
                    },
                    {
                        icon:"fa fa-database",
                        value:"Database",
                        key:"database",
                        url:"/admin/database",
                    }
                ]
            }) 
            %> 
            <div class="right-section">
                <div class="right-top-bar"></div>
                <div class="content-holder">
                    <div class="tools">
                        <!-- <div class="tools-heading">Tools</div> -->
                            <div class="tools-holder">
                                        <div class="tool-container">
                                            <div class="tool" id="tool-1">
                                                <div class="tool-img"><i class="fa fa-cogs"></i></div>
                                                <div class="tool-title">node_1</div>
                                                
                                            </div>
                                            <div class="tool-info">
                                                <%if(cluster.hasOwnProperty("node_1")){%>
                                                    <%if(cluster.node_1.errorCount>0){%>
                                                       <div class="yellow">
                                                            Reconnection...(attempt <%=cluster.node_1.errorCount%>)
                                                        </div>
                                                    <%}else{%>
                                                        <div class="green">
                                                            Online
                                                        </div>
                                                    <%}%>
                                                <%}else{%>
                                                    <div class="red">
                                                        Offline
                                                    </div>
                                                <%}%>
                                            </div>
                                        </div>
                                        <div class="tool-container">
                                            <div class="tool" id="tool-2">
                                                <div class="tool-img"><i class="fa fa-cogs"></i></div>
                                                <div class="tool-title">node_2</div>
                                            </div>
                                            <div class="tool-info">
                                                <%if(cluster.hasOwnProperty("node_2")){%>
                                                    <%if(cluster.node_2.errorCount>0){%>
                                                       <div class="yellow">
                                                            Reconnection...(attempt <%=cluster.node_2.errorCount%>)
                                                        </div>
                                                    <%}else{%>
                                                        <div class="green">
                                                            Online
                                                        </div>
                                                    <%}%>
                                                <%}else{%>
                                                    <div class="red">
                                                        Offline
                                                    </div>
                                                <%}%>

                                            </div>
                                        </div>
                                        <div class="tool-container">
                                            <div class="tool" id="tool-3">
                                                <div class="tool-img"><i class="fa fa-cogs"></i></div>
                                                <div class="tool-title">node_3</div>
                                            </div>
                                            <div class="tool-info">
                                                <%if(cluster.hasOwnProperty("node_3")){%>
                                                    <%if(cluster.node_3.errorCount>0){%>
                                                       <div class="yellow">
                                                            Reconnection...(attempt <%=cluster.node_3.errorCount%>)
                                                        </div>
                                                    <%}else{%>
                                                        <div class="green">
                                                            Online
                                                        </div>
                                                    <%}%>
                                                <%}else{%>
                                                    <div class="red">
                                                        Offline
                                                    </div>
                                                <%}%>
                                                
                                            </div>
                                        </div>
                            </div>
                    </div>
                </div>
                
            </div>
        </div>
        <%- include('../partials/footer');%>
    </div>
    <%- include('../partials/scripts');%>
</body>
</html>