<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header');%>
<body>
    <div class="container">
        <%- include('../partials/nav',{activeNav:"admin"});%>
        <div class="main-content-admin">
            <%- include('../partials/side-bar.ejs',{
                activeTab:locals.activeTab?locals.activeTab:"users",
                user:locals.user?locals.user:null,
                menuTabs:[
                    {
                        icon:"fa fa-user",
                        value:"Users",
                        key:"users",
                        url:"/admin/users",
                    },
                    {
                        icon:"fa fa-archive",
                        value:"Couriers",
                        key:"couriers",
                        url:"/admin/couriers",
                    },
                    {
                        icon:"fa fa-database",
                        value:"Database",
                        key:"database",
                        url:"/admin/database",
                    }
                ]
            }) 
            %> 
            <div class="right-section">
                <div class="right-top-bar"></div>
                <div class="content-holder">
                    <div class="search-box-holder">
                        <form class="search-holder" action="/user/search" method="post">
                            <input type="text" name="search" id="search" placeholder="User id / Mobile Number / Email">
                            <button>Search</button>
                        </form>
                    </div>
                    <div class="search-results">
                        <div class="table">
                            <div class="table-header">
                                <div class="cell">Id</div>
                                <div class="cell">Name</div>
                                <div class="cell">Email</div>
                                <div class="cell">Contact Number</div>
                                <div class="cell">Actions</div>
                            </div>
                            <%allUsers?.forEach(user=>{%>

                                <div class="table-row">
                                    <div class="cell"><%=user.id%></div>
                                    <div class="cell"><%=user.name%></div>
                                    <div class="cell"><%=user.email%></div>
                                    <div class="cell"><%=user.contactNumber%></div>
                                    <div class="cell normal">
                                       <%if(!user.isAdmin){%> 
                                            <a href="/user/toggleAdmin/<%=user.id%>?isAdmin=1" id="make-admin">Make Admin</a>
                                        <%}else{%>
                                            <a href="/user/toggleAdmin/<%=user.id%>?isAdmin=0"  id="revoke-admin">Revoke Admin</a>
                                        <%}%>
                                    </div>
                                </div>

                            <%})%>
                            
                            
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <%- include('../partials/footer');%>
    </div>
    <%- include('../partials/scripts');%>
</body>
</html>