<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header');%>
<body>
    <div class="container">
        <%- include('../partials/nav',{activeNav:""});%>
        <div class="main-content-admin">
            <div class="right-section">
                <div class="content-holder"> 
                    <%if(locals.user&&user.isAdmin&&!order.isDelivered){%>
                        <form class="update-box-holder" action="/order/location/update/<%=order.id%>" method="post">
                            
                            <div class="add-holder">
                                <input type="text" name="location" id="new_loc" placeholder="Add new location">
                                <button type="submit">Add</button>
                            </div>
                            <div class="mark-delivered-holder">
                                <input type="checkbox" name="markDelivered" id="markDelivered">
                                <label for="markDelivered">Mark As Delivered</label>
                            </div>
                        </form>
                    <%}%>                   
                    <div class="details-holder">
                        <div class="detail">
                            <div class="label">
                                Order Id
                            </div>
                            <div class="value">
                                #<%=order.id%>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="label">
                                Origin
                            </div>
                            <div class="value">
                                <%=order.origin%>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="label">
                                Destination
                            </div>
                            <div class="value">
                                <%=order.destination%>
                            </div>
                        </div>
                        <div class="detail">
                            <div class="label">
                                Sender Address
                            </div>
                            <div class="value">
                                <%=order.senderAddress%>
                                (+91-<%=order.senderContactNumber%>)
                            </div>
                        </div>
                        <div class="detail">
                            <div class="label">
                                Receiver Address
                            </div>
                            <div class="value">
                                <%=order.receiverAddress%>
                                (+91-<%=order.receiverContactNumber%>)
                            </div>
                        </div>
                        <div class="detail">
                            <div class="label">
                                Status
                            </div>
                            <div class="value">
                                <%=order.isDelivered?"Delivered":"On its way"%>
                            </div>
                        </div>
                    </div>
                    <div class="timeline-holder">
                        <div class="timeline">
                            <%orderLocations.forEach((location,i)=>{%>
                                <div class="timeline-step">
                                    <div class="icon"></div>
                                    <div class="content">
                                        <div class="heading">
                                            <%=location.currentLocation%>
                                        </div>
                                        <div class="info">
                                            Package has reached 
                                            <%=location.currentLocation%>
                                             from 
                                            <%=location.previousLocation%>
                                             <%=location.dateString%>
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                            <%if(order.isDelivered){%>
                                <div class="timeline-step">
                                    <div class="icon"></div>
                                    <div class="content">
                                        <div class="heading">
                                            Delivered
                                        </div>
                                        <div class="info">
                                            Package Successfully Delivered
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <%- include('../partials/footer');%>
    </div>
    <%- include('../partials/scripts');%>
</body>
</html>