<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header');%>
<body>
    <div class="container">
        <%- include('../partials/nav',{activeNav:"profile"});%>
        <div class="main-content-admin">
            <%- include('../partials/side-bar.ejs',{
                activeTab:locals.activeTab?locals.activeTab:"profile",
                user:locals.user?locals.user:null,
                menuTabs:[
                    {
                        icon:"fa fa-user",
                        value:"Profile",
                        key:"profile",
                        url:"/user",
                    },
                    {
                        icon:"fa fa-archive",
                        value:"Couriers",
                        key:"couriers",
                        url:"/user/couriers",
                    },
                    {
                        icon:"fa fa-plus",
                        value:"New Courier",
                        key:"new-courier",
                        url:"/user/couriers/new"
                    }
                ]
            });
            %> 
            <div class="right-section">
                <div class="right-top-bar"></div>
                <div class="content-holder">
                    
                    <div class="profile-holder">
                        <div class="profile-picture">
                            <img src="/images/profile-img.png" alt="Profile Picture">
                        </div>
                        <div class="profile">
                            <div class="name"><%=user.name%></div>
                            <div class="other-info">
                                <div class="info">
                                    <i class="fa fa-envelope"></i> 
                                    <div class="label">Email</div>
                                    <div class="value"><%=user.email%></div>
                                </div>
                                <div class="info">
                                    <i class="fa fa-phone"></i>
                                    <div class="label"> Contact Number</div>
                                    <div class="value"><%=user.contactNumber%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <%- include('../partials/footer');%>
    </div>
    <%- include('../partials/scripts');%>
</body>
</html>