<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header');%>
<body>
    <div class="container">
        <%- include('../partials/nav',{activeNav:"profile"});%>
        <div class="main-content-admin">
            <%- include('../partials/side-bar.ejs',{
                activeTab:locals.activeTab?locals.activeTab:"couriers",
                user:locals.user?locals.user:null,
                menuTabs:[
                    {
                        icon:"fa fa-user",
                        value:"Profile",
                        key:"profile",
                        url:"/user",
                    },
                    {
                        icon:"fa fa-archive",
                        value:"Couriers",
                        key:"couriers",
                        url:"/user/couriers"
                    },
                    {
                        icon:"fa fa-plus",
                        value:"New Courier",
                        key:"new-courier",
                        url:"/user/couriers/new"
                    }
                ]
            });
            %> 
            <div class="right-section">
                <div class="right-top-bar"></div>
                <div class="content-holder">
                    
                    <!-- <div class="search-box-holder">
                        <div class="search-holder">
                            <input type="text" name="serach" id="search" placeholder="Tracking id / Mobile Number / Email">
                            <button>Track</button>
                        </div>
                    </div> -->
                    <div class="search-results">
                        <div class="table">
                            <div class="table-head">Sent Orders</div>
                            <div class="table-header">
                                <div class="cell">Id</div>
                                <div class="cell">Name</div>
                                <div class="cell">Origin</div>
                                <div class="cell">Destination</div>
                                <div class="cell">Operations</div>
                            </div>
                            <%fromTheUserOrders?.forEach(order=>{%>
                                <div class="table-row">
                                    <div class="cell"><%= order.id%></div>
                                    <div class="cell"><%= order.name%></div>
                                    <div class="cell"><%= order.origin%></div>
                                    <div class="cell"><%= order.destination%></div>
                                    <div class="cell actions">
                                        <a href="/order/<%=order.id%>" title="view"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                        <div class="table">
                            <div class="table-head">Received/Arriving Orders</div>
                            <div class="table-header">
                                <div class="cell">Id</div>
                                <div class="cell">Name</div>
                                <div class="cell">Origin</div>
                                <div class="cell">Destination</div>
                                <div class="cell">Operations</div>
                            </div>
                            <%toTheUserOrders?.forEach(order=>{%>
                                <div class="table-row">
                                    <div class="cell"><%= order.id%></div>
                                    <div class="cell"><%= order.name%></div>
                                    <div class="cell"><%= order.origin%></div>
                                    <div class="cell"><%= order.destination%></div>
                                    <div class="cell actions">
                                        <a href="/order/<%=order.id%>" title="view"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                            <%})%>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <%- include('../partials/footer');%>
    </div>
    <%- include('../partials/scripts');%>
</body>
</html>